/* Distance Tracker (CSS) - Version 1.3
 * Tracks traveled distance of cursor or touch gestures.
 * Copyright (C) 2020  Vincent Rietz, Karina Renten
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>. 
 */
 
html, body, .wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
       
.box {
    display: grid;
    align-items: center;
    justify-content: center;
    
    font-size: 3.5vw;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    cursor: pointer;
}

#instructions {
    position: absolute;
    width: 33%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    
    color: white;
    
    font-size: 0.8vw;
}

#footer {
    position: fixed;
    right: 0.8%;
    bottom: 0.4%;
    
    z-index: 2;
    cursor: pointer;
    
    font-size: 2vw;
}

#div_mm {
    background-color: #392f5a;
    color: #9dd9d2;
}

#div_cm {
     background-color:#f4d06f;
     color: #392f5a;
}

#div_m {
     background-color: #9dd9d2;
     color: #ff8811;
}

#div_km {
     background-color: #ff8811;
     color: #f4d06f;
}

@media (hover: hover) and (pointer: fine) {
    #div_mm:hover,
    #div_cm:hover,
    #div_m:hover,
    #div_km:hover {
        background-color: #00c49a;
    }
}

@media (max-width: 1600px) {
    #instructions {
        width: 40%;
        font-size: 1vw;
    }
    
    #footer {
        font-size: 2.5vw;
    }
}

@media (max-width: 1300px) {
    .box {
        font-size: 4.5vw;
    }
    
    #instructions {
        width: 45%;
        font-size: 1.2vw;
    }
    
    #footer {
        font-size: 3vw;
    }
}

@media (max-width: 1120px) {
    #instructions {
        width: 43%;
        font-size: 1.4vw;
    }
}

@media (max-width: 960px) {
    .box {
        font-size: 5.5vw;
    }
    
    #instructions {
        width: 50%;
        font-size: 1.6vw;
    }
    
    #footer {
        font-size: 4vw;
    }
}

@media (max-width: 840px) {
    #instructions {
        width: 57%;
        font-size: 1.8vw;
    }
}

@media (max-width: 760px) {
    .box {
        font-size: 7.5vw;
    }
    
    #instructions {
        width: 66%;
        font-size: 2vw;
    }
    
    #footer {
        font-size: 5vw;
    }
}

@media (max-width: 640px) {
    #instructions {
        width: 72%;
        font-size: 2.4vw;
    }
    
    #footer {
        font-size: 6.5vw;
    }
}

@media (max-width: 520px) {
    .box {
        font-size: 10vw;
    }
    
    #instructions {
        width: 80%;
        font-size: 2.8vw;
    }
    
    #footer {
        font-size: 8.5vw;
    }
}
